<div class="container" style="margin-top: 2%;">
    <div class="row">
        <h2>Employee Details ({{ employees.length }}) </h2>

    </div><br>
    <div class="row">
        <div style="height: 25px;" class="mr-3">
            <select [(ngModel)]="searchDepartment">
                <option value="">Department</option>
                <option *ngFor="let emp of departments1" [value]="emp">{{emp}}</option>
            </select>
        </div>&nbsp;

        <input class="mr-3" type="text" placeholder="Search by name" [(ngModel)]="searchName">
        <button class="btn btn-primary mr-3 " (click)="searchData()">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary mr-3 " (click)='resetData()'>Reset and Reload Data</button>
    </div><br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Age</th>
                <th>Email Address</th>
                <th>Departments</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{emp.name}}</td>
                <td>{{emp.age}}</td>
                <td>{{emp.email}}</td>
                <td> <span title={{emp.departments}}> {{emp.departments.length}} </span></td>
            </tr>
        </tbody>
    </table>