<div class="container" style="margin-top: 2%;">
    <div class="row">
        <h2>Employee Details ({{ employees.length }}) </h2>

    </div><br>
    <div class="row">
        <div class="dropdown">
            <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
             </button>
            <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
        </div>&nbsp;

        <input class="mr-3" type="text" placeholder="Search by name">
        <button class="btn btn-primary mr-3 ">Search</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary mr-3 ">Reset and Reload Data</button>
    </div><br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Age</th>
                <th>Email Address</th>
                <th>Departments</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees">
                <td>{{emp.name}}</td>
                <td>{{emp.age}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.departments.length}}</td>
            </tr>
        </tbody>
    </table>